*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}

body{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-size: cover;
    background-position: center;
   
    background: linear-gradient(to bottom, #3680ca 0%, #99ffcc 100%);
   /* border: 5px solid blue;
    border-radius: 10px;*/
 



}

.home{
   
    text-align: left;
    margin-top: 30px;
    width: 100%;
    padding:10px;
    

    
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(3, 61, 185);
}

.logo{
    width: 70px;
    cursor: pointer;
}

.navbar li{
    list-style: none;
    display: inline-block;
    margin: 2px 20px;
    position: relative;
    font-size: 25px;
}
 
a{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    
}

.navbar li::after{
    content: '';
    height: 3px;
    width: 0;
    background: lightgreen;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar li:hover::after{
    width: 100%;

}

/* button{

    background-color: rgb(115, 222, 254);
    font-size: 20px;
    text-align: right;
    border-radius: 10px;
    border-style:ridge;
    width: auto;
    border-color: rgb(36, 23, 219);
}
button:hover{
    background-color: rgb(156, 87, 190);
    color: goldenrod;
} */
